@tailwind base;
@tailwind components;
@tailwind utilities;

.CodeMirror {
  @apply flex-grow text-sm;
  font-family: Menlo, Monaco, "Courier New", monospace !important;
}

.btn {
  @apply border border-gray-600 bg-white px-2 rounded hover:enabled:bg-gray-600 hover:enabled:text-white disabled:text-gray-300 disabled:border-gray-300;
}

body {
  margin: 0;
  min-width: 320px;
}
